In [2]:
import pandas as pd
import numpy as np

In [3]:
train_df = pd.read_csv('C:/Users/gisic/gisic/cancer/open/train.csv')
test_df = pd.read_csv('C:/Users/gisic/gisic/cancer/open/test.csv')

In [4]:
train_df

,ID,img_path,mask_path,나이,수술연월일,진단명,암의 위치,암의 개수,암의 장경,NG,...,ER_Allred_score,PR,PR_Allred_score,KI-67_LI_percent,HER2,HER2_IHC,HER2_SISH,HER2_SISH_ratio,BRCA_mutation,N_category
0,BC_01_0001,./train_imgs/BC_01_0001.png,-,63,2015-10-23,1,2,1,19.0,2.0,...,8.0,1.0,6.0,12.0,0.0,1.0,NaN,NaN,NaN,0
1,BC_01_0002,./train_imgs/BC_01_0002.png,-,51,2015-10-28,1,1,1,22.0,3.0,...,NaN,0.0,NaN,70.0,0.0,0.0,NaN,NaN,NaN,1
2,BC_01_0003,./train_imgs/BC_01_0003.png,-,37,2015-10-29,1,2,1,NaN,2.0,...,7.0,1.0,4.0,7.0,0.0,1.0,NaN,NaN,0.0,0
3,BC_01_0004,./train_imgs/BC_01_0004.png,-,54,2016-03-08,1,2,1,0.0,3.0,...,NaN,0.0,NaN,1.0,1.0,3.0,NaN,NaN,NaN,0
4,BC_01_0005,./train_imgs/BC_01_0005.png,-,57,2015-10-30,1,2,1,8.0,2.0,...,8.0,0.0,NaN,8.0,1.0,2.0,1.0,5.44,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,BC_01_3464,./train_imgs/BC_01_3464.png,-,65,2006-12-22,1,2,1,25.0,1.0,...,NaN,0.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,1
996,BC_01_3482,./train_imgs/BC_01_3482.png,-,48,2006-11-17,1,1,1,7.0,1.0,...,NaN,1.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,0
997,BC_01_3485,./train_imgs/BC_01_3485.png,-,64,2006-11-10,1,2,1,15.0,1.0,...,NaN,1.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,1
998,BC_01_3502,./train_imgs/BC_01_3502.png,-,50,2006-09-22,1,1,1,7.0,1.0,...,NaN,0.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,0
999,BC_01_3518,./train_imgs/BC_01_3518.png,-,76,2010-09-01,1,2,1,20.0,3.0,...,4.0,0.0,2.0,NaN,0.0,1.0,NaN,NaN,NaN,1

In [5]:
triple_df = train_df.loc[((train_df['ER']==0)|(train_df['ER']).isnull())
                         &((train_df['PR']==0)|(train_df['PR']).isnull())
                         &((train_df['HER2']==0)|(train_df['HER2']).isnull())]

In [6]:
triple_df['N_category'].value_counts()

1    55
0    54
Name: N_category, dtype: int64

In [7]:
triple_df = train_df.loc[((train_df['ER']==0)|(train_df['ER']).isnull())
                         &((train_df['PR']==0)|(train_df['PR']).isnull())
                         &((train_df['HER2']==0)|(train_df['HER2']).isnull())]

In [8]:
triple_df

,ID,img_path,mask_path,나이,수술연월일,진단명,암의 위치,암의 개수,암의 장경,NG,...,ER_Allred_score,PR,PR_Allred_score,KI-67_LI_percent,HER2,HER2_IHC,HER2_SISH,HER2_SISH_ratio,BRCA_mutation,N_category
1,BC_01_0002,./train_imgs/BC_01_0002.png,-,51,2015-10-28,1,1,1,22.0,3.0,...,NaN,0.0,NaN,70.00,0.0,0.0,NaN,NaN,NaN,1
11,BC_01_0013,./train_imgs/BC_01_0013.png,-,55,2015-11-11,1,2,1,NaN,2.0,...,NaN,0.0,NaN,3.00,0.0,2.0,0.0,0.8,NaN,0
14,BC_01_0062,./train_imgs/BC_01_0062.png,-,51,2019-10-30,1,1,1,25.0,3.0,...,NaN,0.0,NaN,50.96,0.0,1.0,NaN,NaN,0.0,0
15,BC_01_0178,./train_imgs/BC_01_0178.png,-,36,2019-05-27,1,2,2,2.0,3.0,...,NaN,0.0,NaN,89.17,0.0,0.0,NaN,NaN,0.0,0
18,BC_01_0214,./train_imgs/BC_01_0214.png,-,58,2020-06-29,1,1,1,NaN,NaN,...,NaN,0.0,NaN,28.66,NaN,2.0,0.0,30.0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
968,BC_01_3247,./train_imgs/BC_01_3247.png,-,50,2010-04-07,1,2,1,25.0,3.0,...,NaN,0.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,1
973,BC_01_3267,./train_imgs/BC_01_3267.png,-,54,2010-02-16,1,2,1,5.0,1.0,...,NaN,0.0,NaN,NaN,0.0,1.0,NaN,NaN,NaN,0
991,BC_01_3416,./train_imgs/BC_01_3416.png,-,69,2009-05-06,1,1,1,9.0,1.0,...,NaN,0.0,NaN,NaN,0.0,1.0,NaN,NaN,NaN,0
994,BC_01_3447,./train_imgs/BC_01_3447.png,-,43,2009-01-16,1,2,1,10.0,1.0,...,NaN,0.0,NaN,NaN,0.0,1.0,NaN,NaN,NaN,0
998,BC_01_3502,./train_imgs/BC_01_3502.png,-,50,2006-09-22,1,1,1,7.0,1.0,...,NaN,0.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,0

In [20]:
HER2_df = train_df.loc[((train_df['ER']==0)|(train_df['ER']).isnull())
                         &((train_df['PR']==0)|(train_df['PR']).isnull())
                         &(train_df['HER2']==1)]

In [21]:
HER2_df

,ID,img_path,mask_path,나이,수술연월일,진단명,암의 위치,암의 개수,암의 장경,NG,...,ER_Allred_score,PR,PR_Allred_score,KI-67_LI_percent,HER2,HER2_IHC,HER2_SISH,HER2_SISH_ratio,BRCA_mutation,N_category
3,BC_01_0004,./train_imgs/BC_01_0004.png,-,54,2016-03-08,1,2,1,0.0,3.0,...,NaN,0.0,NaN,1.00,1.0,3.0,NaN,NaN,NaN,0
21,BC_01_0217,./train_imgs/BC_01_0217.png,-,54,2020-06-30,1,1,1,16.0,NaN,...,NaN,0.0,NaN,17.36,1.0,3.0,NaN,NaN,NaN,0
29,BC_01_0232,./train_imgs/BC_01_0232.png,-,44,2020-06-04,1,2,2,9.0,3.0,...,NaN,0.0,NaN,47.92,1.0,3.0,NaN,NaN,NaN,1
60,BC_01_0298,./train_imgs/BC_01_0298.png,-,55,2020-03-11,1,2,1,20.0,3.0,...,NaN,0.0,NaN,34.89,1.0,3.0,NaN,NaN,NaN,0
109,BC_01_0547,./train_imgs/BC_01_0547.png,-,57,2019-04-22,1,2,1,0.0,2.0,...,NaN,0.0,NaN,28.27,1.0,3.0,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
942,BC_01_3144,./train_imgs/BC_01_3144.png,-,71,2010-09-20,1,2,1,33.0,3.0,...,NaN,0.0,NaN,20.00,1.0,2.0,1.0,8.0,NaN,1
945,BC_01_3156,./train_imgs/BC_01_3156.png,-,65,2010-09-08,1,1,1,15.0,3.0,...,NaN,0.0,NaN,NaN,1.0,2.0,NaN,NaN,NaN,1
948,BC_01_3171,./train_imgs/BC_01_3171.png,-,38,2010-08-02,1,2,1,35.0,3.0,...,NaN,0.0,NaN,NaN,1.0,3.0,NaN,NaN,NaN,1
956,BC_01_3200,./train_imgs/BC_01_3200.png,-,44,2010-12-28,1,2,1,14.0,3.0,...,NaN,0.0,NaN,NaN,1.0,2.0,NaN,NaN,NaN,1
963,BC_01_3235,./train_imgs/BC_01_3235.png,-,55,2010-04-26,1,1,1,57.0,2.0,...,NaN,0.0,NaN,NaN,1.0,3.0,NaN,NaN,NaN,1

In [47]:
ER_PR_df = train_df.loc[((train_df['ER']==1)|(train_df['PR']==1))]

In [55]:
ER_PR_nHER2_df = train_df.loc[((train_df['ER']==1)|(train_df['PR']==1))
                        &((train_df['HER2']==0)|(train_df['HER2']).isnull())]

In [56]:
len(ER_PR_nHER2_df)

647

In [49]:
ER_PR_df

,ID,img_path,mask_path,나이,수술연월일,진단명,암의 위치,암의 개수,암의 장경,NG,...,ER_Allred_score,PR,PR_Allred_score,KI-67_LI_percent,HER2,HER2_IHC,HER2_SISH,HER2_SISH_ratio,BRCA_mutation,N_category
0,BC_01_0001,./train_imgs/BC_01_0001.png,-,63,2015-10-23,1,2,1,19.0,2.0,...,8.0,1.0,6.0,12.0,0.0,1.0,NaN,NaN,NaN,0
2,BC_01_0003,./train_imgs/BC_01_0003.png,-,37,2015-10-29,1,2,1,NaN,2.0,...,7.0,1.0,4.0,7.0,0.0,1.0,NaN,NaN,0.0,0
4,BC_01_0005,./train_imgs/BC_01_0005.png,-,57,2015-10-30,1,2,1,8.0,2.0,...,8.0,0.0,NaN,8.0,1.0,2.0,1.0,5.44,NaN,0
5,BC_01_0006,./train_imgs/BC_01_0006.png,-,45,2016-04-26,1,1,2,0.0,3.0,...,4.0,0.0,NaN,NaN,1.0,3.0,NaN,NaN,NaN,0
6,BC_01_0007,./train_imgs/BC_01_0007.png,-,57,2015-12-18,1,1,1,NaN,2.0,...,6.0,1.0,4.0,5.0,1.0,3.0,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
993,BC_01_3445,./train_imgs/BC_01_3445.png,-,50,2009-02-03,1,2,1,9.0,1.0,...,5.0,1.0,5.0,NaN,0.0,0.0,NaN,NaN,NaN,0
995,BC_01_3464,./train_imgs/BC_01_3464.png,-,65,2006-12-22,1,2,1,25.0,1.0,...,NaN,0.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,1
996,BC_01_3482,./train_imgs/BC_01_3482.png,-,48,2006-11-17,1,1,1,7.0,1.0,...,NaN,1.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,0
997,BC_01_3485,./train_imgs/BC_01_3485.png,-,64,2006-11-10,1,2,1,15.0,1.0,...,NaN,1.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,1
999,BC_01_3518,./train_imgs/BC_01_3518.png,-,76,2010-09-01,1,2,1,20.0,3.0,...,4.0,0.0,2.0,NaN,0.0,1.0,NaN,NaN,NaN,1

In [57]:
ER_PR_yHER2_df = train_df.loc[((train_df['ER']==1)|(train_df['PR']==1))
                        &(train_df['HER2']==1)]

In [58]:
len(ER_PR_yHER2_df)

183

In [59]:
len(HER2_df) + len(ER_PR_nHER2_df) + len(triple_df)+len(ER_PR_yHER2_df)

1000

In [69]:
print("HER2 임파선 전이율",round(HER2_df['N_category'].mean(), 3))
print("삼중 임파선 전이율",round(triple_df['N_category'].mean(), 3))
print("not HER + ER+PR 임파선 전이율",round(ER_PR_nHER2_df['N_category'].mean(), 3))
print("ER+PR+HER 임파선 전이율",round(ER_PR_yHER2_df['N_category'].mean(), 3))

HER2 임파선 전이율 0.525
삼중 임파선 전이율 0.505
not HER + ER+PR 임파선 전이율 0.546
ER+PR+HER 임파선 전이율 0.404

In [77]:
triple_pro = triple_df.drop(['ID','img_path','mask_path','수술연월일','ER_Allred_score'
                            ,'PR_Allred_score','ER','PR','HER2','HER2_IHC','HER2_SISH'
                            ,'HER2_SISH_ratio'],axis=1)

In [78]:
triple_pro

,나이,진단명,암의 위치,암의 개수,암의 장경,NG,HG,HG_score_1,HG_score_2,HG_score_3,DCIS_or_LCIS_여부,DCIS_or_LCIS_type,T_category,KI-67_LI_percent,BRCA_mutation,N_category
1,51,1,1,1,22.0,3.0,3.0,3.0,3.0,3.0,0,NaN,2.0,70.00,NaN,1
11,55,1,2,1,NaN,2.0,NaN,NaN,NaN,NaN,1,2.0,0.0,3.00,NaN,0
14,51,1,1,1,25.0,3.0,3.0,3.0,3.0,3.0,2,2.0,2.0,50.96,0.0,0
15,36,1,2,2,2.0,3.0,2.0,3.0,3.0,1.0,2,1.0,1.0,89.17,0.0,0
18,58,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,1,2.0,0.0,28.66,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
968,50,1,2,1,25.0,3.0,3.0,3.0,3.0,3.0,0,NaN,2.0,NaN,NaN,1
973,54,1,2,1,5.0,1.0,1.0,3.0,1.0,1.0,0,1.0,1.0,NaN,NaN,0
991,69,1,1,1,9.0,1.0,1.0,3.0,1.0,1.0,0,1.0,1.0,NaN,NaN,0
994,43,1,2,1,10.0,1.0,2.0,3.0,1.0,2.0,0,NaN,1.0,NaN,NaN,0
998,50,1,1,1,7.0,1.0,1.0,1.0,2.0,1.0,0,NaN,1.0,NaN,NaN,0

In [79]:
triple_pro.isnull().sum()

나이                    0
진단명                   0
암의 위치                 0
암의 개수                 0
암의 장경                 5
NG                   12
HG                    8
HG_score_1           10
HG_score_2           10
HG_score_3           10
DCIS_or_LCIS_여부       0
DCIS_or_LCIS_type    95
T_category            1
KI-67_LI_percent     36
BRCA_mutation        98
N_category            0
dtype: int64

In [80]:
triple_pro.loc[triple_pro['암의 장경'].isnull()]

,나이,진단명,암의 위치,암의 개수,암의 장경,NG,HG,HG_score_1,HG_score_2,HG_score_3,DCIS_or_LCIS_여부,DCIS_or_LCIS_type,T_category,KI-67_LI_percent,BRCA_mutation,N_category
11,55,1,2,1,NaN,2.0,NaN,NaN,NaN,NaN,1,2.0,0.0,3.00,NaN,0
18,58,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,1,2.0,0.0,28.66,NaN,0
266,52,1,1,1,NaN,1.0,NaN,NaN,NaN,NaN,1,1.0,0.0,NaN,NaN,0
314,64,1,2,1,NaN,1.0,NaN,NaN,NaN,NaN,1,1.0,0.0,NaN,NaN,0
452,50,1,3,1,NaN,3.0,3.0,3.0,3.0,3.0,1,1.0,0.0,40.69,NaN,0

In [81]:
triple_pro.loc[triple_pro['NG'].isnull()]

,나이,진단명,암의 위치,암의 개수,암의 장경,NG,HG,HG_score_1,HG_score_2,HG_score_3,DCIS_or_LCIS_여부,DCIS_or_LCIS_type,T_category,KI-67_LI_percent,BRCA_mutation,N_category
18,58,1,1,1,NaN,NaN,NaN,NaN,NaN,NaN,1,2.0,0.0,28.66,NaN,0
115,54,1,2,1,0.00,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,42.81,NaN,1
783,41,1,1,1,12.00,NaN,3.0,3.0,3.0,3.0,0,NaN,1.0,40.00,NaN,0
806,43,1,1,1,30.00,NaN,NaN,NaN,NaN,NaN,0,NaN,2.0,NaN,NaN,0
809,61,1,1,1,17.00,NaN,2.0,3.0,3.0,1.0,0,NaN,1.0,NaN,NaN,0
825,48,1,1,1,42.00,NaN,3.0,3.0,3.0,3.0,0,NaN,2.0,NaN,NaN,1
829,51,1,1,1,22.00,NaN,3.0,3.0,3.0,2.0,0,NaN,2.0,NaN,NaN,0
834,33,1,1,1,24.00,NaN,3.0,3.0,3.0,2.0,0,NaN,2.0,NaN,NaN,0
851,68,1,2,1,19.00,NaN,2.0,2.0,3.0,1.0,0,NaN,1.0,NaN,NaN,1
858,45,4,2,1,110.00,NaN,3.0,NaN,NaN,NaN,0,NaN,3.0,NaN,NaN,1
888,41,1,2,1,0.40,NaN,NaN,NaN,NaN,NaN,0,NaN,1.0,NaN,NaN,0
927,54,1,2,1,0.35,NaN,NaN,NaN,NaN,NaN,1,NaN,1.0,NaN,NaN,0

In [83]:
train_df.loc[train_df['암의 장경']==0]

,ID,img_path,mask_path,나이,수술연월일,진단명,암의 위치,암의 개수,암의 장경,NG,...,ER_Allred_score,PR,PR_Allred_score,KI-67_LI_percent,HER2,HER2_IHC,HER2_SISH,HER2_SISH_ratio,BRCA_mutation,N_category
3,BC_01_0004,./train_imgs/BC_01_0004.png,-,54,2016-03-08,1,2,1,0.0,3.0,...,NaN,0.0,NaN,1.00,1.0,3.0,NaN,NaN,NaN,0
5,BC_01_0006,./train_imgs/BC_01_0006.png,-,45,2016-04-26,1,1,2,0.0,3.0,...,4.0,0.0,NaN,NaN,1.0,3.0,NaN,NaN,NaN,0
109,BC_01_0547,./train_imgs/BC_01_0547.png,-,57,2019-04-22,1,2,1,0.0,2.0,...,NaN,0.0,NaN,28.27,1.0,3.0,NaN,NaN,NaN,1
115,BC_01_0561,./train_imgs/BC_01_0561.png,-,54,2019-03-14,1,2,1,0.0,NaN,...,NaN,0.0,NaN,42.81,0.0,1.0,NaN,NaN,NaN,1
117,BC_01_0567,./train_imgs/BC_01_0567.png,-,42,2019-02-01,1,2,1,0.0,3.0,...,7.0,1.0,7.0,47.79,0.0,0.0,NaN,NaN,NaN,1